<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Testando</title>
    <style type="text/css">
        #sentiment-view{
        position:absolute;
        margin:0 auto;
        left: 25%;
        top:25%;
        }
    </style>

</head>
<body>

<div id="sentiment-view"></div>

</body>
{% load staticfiles %}
<script src="{% static 'vs.0.1-min.js' %}"></script>
<script>
    var lastid = -1;
    var chart = undefined;

    function poll_sentiments(){
        $.get("api/chartmodel/?format=json",
            {lastid: lastid},
            function(data) {
                chart_model = data.objects[0]
                lastid = chart_model.lastid
                add_tokens(0, chart_model.positive)
                add_tokens(1, chart_model.negative)
                add_tokens(2, chart_model.neutral)
                chart.strata.update(chart)
                setTimeout(poll_sentiments,15000);

        });
    }


    mySettings = {
          width:800,
          height:600,
          data:{
                model:
                      [
                        {label:"Positivo"},
                        {label:"Negativo"},
                        {label:"Neutro"},
                      ],
                stream:{
                  provider:'tokens',
                  refresh:6000,
                  now:0
                }
              },
          sedimentation:{
            token:{
              size:{original:30,minimum:2}
            },
            suspension:{
              decay:{power:1.05}
            }
          },
          chart:{
                 type:'CircleLayout',
                 spacer:2,
                 colorRange:d3.scale.category20(),
                 scale:d3.scale,
                 radius:200,
                 width:800,
                 height:600,
                 label:true
                },
          options:{
             layout:false
          }
        }
    $(document).ready(function(){
        $.get( "api/chartmodel/?format=json", function( data ) {
            chart_model = data.objects[0]
            lastid = chart_model.lastid

            mySettings.data.strata = [
                          [
                            {initValue: chart_model.positive, label: "Positivo", text: "Positivo", color:"blue"},
                          ],[
                            {initValue: chart_model.negative, label: "Negativo" , color:"#990000"},
                          ],[
                            {initValue: chart_model.neutral, label: "Neutro"}
                          ]
                        ]
            chart = $("#sentiment-view").vs(mySettings).data('visualSedimentation')
            poll_sentiments()
        });
    });



function add_tokens(category, count) {
     for(var i = 0; i < count; i++){
         chart.addToken({
                category:category,
            })

     }
}
</script>



</html>